Latex/TP_1.aux
octave-workspace
Latex/TP_1.fdb_latexmk
Latex/TP_1.fls
Latex/TP_1.toc
Latex/TP_1 2.fls
Latex/TP_1.synctex.gz
Latex/TP_1.log
Latex/TP_1.pdf
Latex/lab1.asc
Latex/.DS_Store
.DS_Store
Latex/TP_1 2.aux
Latex/TP_1.out
TP1_CorrienteContinua/TP_1.pdf
TP1_CorrienteContinua/TP_1.fdb_latexmk
TP1_CorrienteContinua/TP_1.fdb_latexmk
TP1_CorrienteContinua/TP_1.pdf
